.element__like {
  border: 0;
  width: 24px;
  min-height: 18px;
  cursor: pointer;
  background: no-repeat center url(../../../images/like.svg);
  transition: 0.5s ease;
}
.element__like:hover {
  opacity: 0.5;
}