.profile__add-button {
  width: 150px;
  height: 50px;
  background: no-repeat center url(../../../images/add.svg);
  border: 1px solid white;
  cursor: pointer;
  align-self: center;
  transition: 0.5s ease;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 880px) {
  .profile__add-button {
    width: 100%;
    margin-top: 36px;
    background-size: 16px;
  }
}