.popup__close-button {
  width: 32px;
  height: 32px;
  background: no-repeat center url(../../../images/Close_Icon.svg);
  position: absolute;
  border: 0;
  top: -72px;
  right: -72px;
  cursor: pointer;
  transition: 0.5s ease;
}
.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .popup__close-button {
    top: -85px;
    right: -35px;
  }
}