.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 3.75px 30px 3.75px 0;
}
@media screen and (max-width: 880px) {
  .profile__avatar {
    margin: 0;
  }
}